<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.id }} || Hawk</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="bg-zinc-900 min-h-screen">
    <video class="h-screen m-auto" playsinline controls poster="/assets/images/{{ video.id }}.png" class="m-auto">
        <source src="/assets/video/{{ video.id }}.{{ video.ext }}" type="video/{{ video.ext }}" />
    </video>
</body>
</html>